html, body, #root, .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
