.MenuCharacters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;

    pointer-events: none !important;
}

.CharFrame img {
    margin: 25px 150px;
    min-height: 350px;
}

.CharFrame p {
    font-size: 24px;
    position: relative;
    top: 40px;
}

.CharFrame .anaText {
    left: 130px;
}

.CharFrame .miaText {
    right: 130px;
}
